/*RESETS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #030303;
}

header {
    position: fixed;
    top: 0;
    padding: 15px 80px;
    width: 100%;
    border-bottom: 1px solid rgba(114, 114, 126, 0.2);
    background-color: #171717;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*MENU INICIAL*/

.logo {
    text-decoration: none;
    font-size: 2rem;

    outline: none;
}

.menu {
    list-style: none;
}

/*.menu-icon{
    display: none;
}*/

.menu li {
    display: inline-block;
    margin-right: 25px;
}


.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding-bottom: 10px;

}

.menu li a:hover {
    border-bottom: 1px solid #3339ff;
    color: #FAFAFA;
}

/*CORPO DO PORTFOLIO*/

.background-image {
    background: url(../img/pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}


.container .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 43.2rem;
    margin-top: 10.5rem;
    padding-bottom: 4rem;

}

.container .title h1 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 7.7rem;
    text-align: center;
    color: #FFF;
}

.container .title h1 span {
    color: #3339ff;
    font-size: 5rem;
}

.container .title h2 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;
    color: #FFF;
    margin-bottom: 3.2rem;
}

.container .title p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2.7rem;
    text-align: center;
    color: #FFF;
}

/* CHAMADA DO CURRICULO*/

.botoes-home {
    /*margin-top:3rem;*/
    display: flex;
    align-items: center;
    gap: 20px;
}

.link-contato {
    text-decoration: none;
    color: white;
    background-color: #171717;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid white;
    text-transform: uppercase;

}

.link-contato:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

.curriculo {
    text-decoration: none;
    color: #008FFF;
    background-color: #171717;
    height: 50px;
    width: 150px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #008FFF;
    text-transform: uppercase;
}

.curriculo:hover {
    color: black;
    background-color: #333aef;
    transition: 0.5s;
}

/*SOBRE MIM*/
.titulo-sobre {
    color: #008FFF;
    text-align: center;
    font-size: 50px;
    background-color: #191919;
    display: flex;
    padding-top: 70px;


}

.sobre {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 20px;
    background-color: #191919;
    gap: 60px;
}

.sobre img {
    padding-bottom: 80px;
    margin-right: 30px;
    border-radius: 0.6rem;
    padding-top: 2.7rem;

}

.sobre-mim {
    max-width: 600px;
    /*padding: 70px 20px;*/

}

.sobre-mim h2 {
    font-family: "Inter", sans-serif;
    font-size: 3.3rem;
    color: rgb(112, 240, 57);
    font-weight: 600;
    line-height: 1.6rem;
    text-align: center;
    margin-bottom: 3.2rem;
    padding-top: 2.3rem;
}

.sobre-mim p {
    font-family: "Inter", sans-serif;
    color: #b6aeae;
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: 700px;

}

.sobre-mim p span {
    color: #008FFF;
    font-size: 23px;
}


.stack {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 1rem;
  }
  .stack img:hover{
    transform: translateY(-2%);
    
  }

/*CORPO DO PORTFOLIO*/
.s-success {
    padding-top: 9.7rem;
    padding-bottom: 4rem;
    margin: 0 auto;
    padding-left: 2rem;
    background-color: rgb(49, 49, 49);
}

.s-success .content {
    display: flex;
    align-items: center;
    gap: 4.4rem;
}

.s-success .content .title-success h2 span {
    font-family: "Inter", sans-serif;
}

.s-success .content .cards {
    display: flex;


}

.s-success .content .cards .card {
    width: 100%;
    max-width: 19rem;
    height: 27.2rem;
    background-color: #FFF;
    border-radius: 4px;
    margin-right: 3.3rem;
    cursor: pointer;
    transition: all 0.2s;
}

.s-success .content .cards .card:hover {
    filter: brightness(90%);
}

.s-success .content .cards .card.active {
    background-color: royalblue;
}

.s-success .container .cards .card:last-child {
    margin-right: 0;
}

.s-success .content .cards .card .card-title {
    margin: 5rem 0;
    padding-right: 14.5rem;
    padding-left: 1.4rem;
}

.s-success .container .cards .card .card-info {
    padding-left: 1.4rem;
}

.s-success .content .cards .card .card-title h3 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
}

.s-success .content .cards .card .card-info p {
    font-family: "Inter";
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 3.9rem;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 5.3rem;
    line-height: 7.7rem;
    color: rgb(112, 240, 57);
}

h2 span {
    color: rgb(30, 128, 248);
}

.tag {
    border-radius: 5rem;
    padding: 0.6rem 2.7rem;
    background-color: #FFF;
    font-size: 1.2rem;
    font-weight: 300;
}


/*PROJETOS*/

.p-container {
    padding: 1.2rem 0;
    margin-bottom: 8rem;
}
.p-content {
    display: flex;
    flex-direction: column;
 }
.p-title {
    margin-bottom: 3.3rem;
  }

  .p-title h2{
    font-family: "Inter", sans-serif;
    font-size: 3.5rem;
    color: rgb(112, 240, 57);
    font-weight: 600;
    line-height: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4.2rem;
   
  }
  .cases {
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    
    
  }
  .cases img{
      
      width: 30rem;
     padding: 0.2rem;

     border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.2s;

  }
  .cases .case:nth-child(2) {
    margin-top: -1.2rem;
  }
  .cases img:hover {
    transform: translateY(-2%);
  }


/*CONTATO*/

.contato{
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    padding: 95px 70px 60px 0px;
}

.box-contato{
    margin-left: 17rem;
    padding-top: 2.7rem;
    display: flex;
    flex-direction: column;
}

.contato h2{
    font-size: 50px;
    color: #FAFAFA;
    margin: 0;
    line-height: 3.6rem;
    padding-top: 1rem;


}

.contacts-link{
    display: flex;
    gap: 30px;
    padding-left: 1rem;
}

.contacts-link img{
    width: 25px;
}

form{
    height: 390px;
    width: 390px;
    padding: 20px;
    margin-right: 100px;

}

form input{
    color: #FAFAFA;
    display: block;
    width: 365px;
    height: 46px;
    border: none;
    border-radius: 6px;
    background-color: #343434;
    margin-bottom: 20px;
    padding-left: 10px;
    outline: none;
}

form textarea {
    background-color: #343434;
    width: 365px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 10px 0px 0px 10px;
    resize: none;
    color: #FAFAFA;
    margin-bottom: 30px;
}

button{
    width: 215px;
    height: 45px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #008FFF;
    font-size: 20px;
    cursor: pointer;
}

  


  




  /*FOOTER*/
  footer {
    background-color: rgb(24, 24, 24);
  }
  
.f-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 .f-container .copy {
    padding: 2.2rem 0;
    text-align: center;
  }
  
  .f-container .copy {
    color: #FFF;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .f-container .copy a{
      text-decoration: none;
     
  }

  
  